.Header {
    width: 1440px;
    height: 40px;
    margin: 0 auto;
    background: #d7ecdf;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerLeft{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 15px;
    
}
.headerLeft li{
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    color: #505050;
}
.mdLocation {
    color: blue;
}
.headerLeft .red{
    color: #AB7A19;
}
.headerLeft .green {
    color: #53B175;
}
.headerRight{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 113px;
}
.headerRightChild {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
span {
    cursor: pointer;
}
.enter{
    color: #53B175;
    cursor: pointer;
}